<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>TT-LAB - Projects</title>
      <!-- Bootstrap Core CSS -->
      <link href="css/bootstrap.min.css" rel="stylesheet">
      <!-- Custom CSS -->
      <link href="css/clean-blog.css" rel="stylesheet">
      <link href="css/clients.css" rel="stylesheet" type="text/css">
      <!-- Custom Fonts -->
      <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
      <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
      <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>
   <body>
      <!-- Navigation -->
      <nav class="navbar navbar-default navbar-custom navbar-fixed-top is-fixed">
         <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class="pull-left" href="/home"> <img class="nav-logo" src="/TTLAB.png"> </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               <ul class="nav navbar-nav navbar-right">
                   <li>
                       <a href="/">Home</a>
                   </li>
                   <!--<li>-->
                       <!--<a href="/news">News</a>-->
                   <!--</li>-->
                   <li>
                       <a href="/ap.html">Associate Professional</a>
                   </li>
                   <li>
                       <a href="/pg.html">Post Graduates</a>
                   </li> 
                   <li>
                       <a href="/alumni.html">Alumni</a>
                   </li>
                  <li>
                     <a href="/publications">Publications</a>
                  </li>
                  <li>
                     <a href="/patents.html">Patents</a>
                  </li>
                  <li>
                      <a href="/innovation.html">Innovation</a>
                  </li>
                  <li>
                     <a href="/clients">Clients</a>
                  </li>
                  <!-- <li>
                     <a href="/projects">Projects</a>
                     </li> -->
                  <!-- <li>
                     <a href="/presentations">Presentations</a>
                  </li> -->
                  <!--<li>-->
                  <!--<a href="/tasks">Tasks</a>-->
                  <!--</li>-->
                  <li>
                     <a href="/contact">Contact</a>
                  </li>
               </ul>
            </div>
            <!-- /.navbar-collapse -->
         </div>
         <!-- /.container -->
      </nav>
      <!-- Page Header -->
      <!-- Set your background image for this header on the line below. -->
      <header class="intro-header" style="background-image: url('img/hills.jpg')">
         <div class="container">
            <div class="row">
               <div class="col-lg-8  col-md-10 ">
                  <div class="page-heading">
                     <h1>Clients</h1>
                     <hr class="small">
                     <span class="subheading">TTLab Collaborators</span>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <!-- Main Content -->
      <div class="container">
         <div class="row">
            <div id="left_pane" class="col-md-12">
               <h3>Collaborations that have lead to one or more joint publications</h3>
            </div>
         </div>
         <div class="row" id="list_cont">
            <!-- <input class="search" placeholder="Project name or member" />
               <button class="sort" data-sort="list-title">
                 Sort by Title
               </button> -->
            <ul class="list">
              <li class="post-preview ">
                <img class="company-logo img-thumbnail" src="img/clients/ttnic.png">
                <ul class="list">
                  <li class="post-preview ">
                    <a id="pdf0" data-toggle="modal" data-target="#myModal">
                      <hr>
                      <h4 class="post-title list-title">Intrusion Detection and Avoidance for a Heterogeneous Cluster of Web Sites</h4>
                      <p class="post-subtitle list-description ">Darren Ramsook, <b>Patrick Hosein</b> and Akash Pooransingh</p>
                      <p class="post-subtitle list-description">6th International Conference on Internet Science, Perpignan, France</p>
                    </a>
                    <p class="post-meta list-date">Dec, 2019</p>
                  </li>
                  <li class="post-preview ">
                    <a id="pdf3" data-toggle="modal" data-target="#myModal">
                      <hr>
                      <h4 class="post-title list-title">A Metric for the Fair Comparison of ISPs</h4>
                      <p class="post-subtitle list-description "><b>Patrick Hosein</b> and Shiva Ramoudith</p>
                      <p class="post-subtitle list-description">6th International Conference on Internet Science, Perpignan, France</p>
                    </a>
                    <p class="post-meta list-date">Dec, 2019</p>
                  </li>
                  <li class="post-preview ">
                    <a id="pdf4" data-toggle="modal" data-target="#myModal">
                      <hr>
                      <h4 class="post-title list-title">On Internet Resilience in Small Island States</h4>
                      <p class="post-subtitle list-description "><b>Patrick Hosein</b>, Shiva Ramoudith and Kim Mallalieu</p>
                      <p class="post-subtitle list-description">6th International Conference on Internet Science, Perpignan, France</p>
                    </a>
                    <p class="post-meta list-date">Dec, 2019</p>
                  </li>
                </ul>
              </li>
               <li class="post-preview ">
                 <img class="company-logo img-thumbnail" src="img/clients/NIHERSTLogo4.png">
                 <ul class="list">
                   <li class="post-preview">
                     <a id="pdf0" href="/pdf/ICUE2018_Online_226.pdf">
                        <hr>
                        <h4 class="post-title list-title">The Impact of Low Electricity Prices on Renewable Energy Production</h4>
                        <p class="post-subtitle list-description "><b>Robert Martinez</b> and Patrick Hosein</p>
                        <p class="post-subtitle list-description">International Conference on Green Energy for Sustainable Development, Phuket, Thailand</p>
                     </a>
                     <p class="post-meta list-date">Oct, 2018</p>
                   </li>
                 </ul>
               </li>

               <li class="post-preview ">
                 <img class="company-logo img-thumbnail" src="img/clients/uwi.png">
                  <ul class="list">
                    <li class="post-preview ">
                      <hr>
                      <a id="pdf5" data-toggle="modal" data-target="#myModal">
                        <h4 class="post-title list-title">On the Sizing of Security Personnel Staff while accounting for Overtime Pay</h4>
                        <p class="post-subtitle list-description ">Patrick Hosein, Victor Job and Alana Sankar-Ramkarran</p>
                        <p class="post-subtitle list-description">International Conference on Optimization and Decision Science, Genova, Italy</p>
                      </a>
                      <p class="post-meta list-date">Sept, 2019</p>
                    </li>
                    <li class="post-preview">
                      <a id="pdf1" href="/pdf/ODS2018_031_final_v3.pdf">
                         <hr>
                         <h4 class="post-title list-title">Cost Minimization of Library Electronic Subscriptions</h4>
                         <p class="post-subtitle list-description "><b>Laura Bigram</b>, Patrick Hosein and Jonathan Earle</p>
                         <p class="post-subtitle list-description">International Conference on Optimization and Decision Science, Taormina, Italy</p>
                      </a>
                      <p class="post-meta list-date">Sept, 2018</p>
                    </li>
                  </ul>
               </li>

               <li class="post-preview ">
                 <img class="company-logo img-thumbnail" src="img/clients/Massy_Technologies_InfoCom_Horiz_RGB_resized(1).png">
                  <ul class="list">
                    <li class="post-preview">
                      <a id="pdf2" data-toggle="modal" data-target="#myModal">
                         <hr>

                         <h4 class="post-title list-title">Spatio-Temporal Clustering for Optimizing Time-Sensitive Product Deliveries (invited paper)</h4>
                         <p class="post-subtitle list-description ">Nicholas Chamansingh, Patrick Hosein and <b>Elena Dyer</b></p>
                         <p class="post-subtitle list-description">Triennial Conference of the Association of Asia Pacific Operational Research Societies, Kathmandu, Nepal</p>
                      </a>
                      <p class="post-meta list-date">Aug, 2018</p>
                    </li>
                    <li class="post-preview ">
                       <a id="pdf3" data-toggle="modal" data-target="#myModal">
                          <hr>
                          <h4 class="post-title list-title"> Optimizing Car Imports in Small Island States (invited paper)</h4>
                          <p class="post-subtitle list-description ">Shiva Ramoudith, Patrick Hosein and <b>Kevin Blake-Thomas</b></p>
                          <p class="post-subtitle list-description">Triennial Conference of the Association of Asia Pacific Operational Research Societies, Kathmandu, Nepal</p>
                       </a>
                       <p class="post-meta list-date">Aug, 2018</p>
                    </li>
                  </ul>
               </li>

               <li class="post-preview ">
                 <img class="company-logo img-thumbnail" src="img/clients/kabrya.png">
                  <ul class="list">
                    <li class="post-preview">
                      <a id="pdf4" href="/pdf/1570388765-2.pdf">
                         <hr>
                         <h4 class="post-title list-title">Constant Time, Fixed Memory, Zero False Negative Error Logging for Low Power Wearable Devices</h4>
                         <p class="post-subtitle list-description ">Saffiyah Doolan, <b>Nicholas Hosein</b>, Patrick Hosein and Devika Bhagwandin</p>
                         <p class="post-subtitle list-description">IEEE Conference on Wireless Sensors, Sarawak, Malaysia</p>
                      </a>
                      <p class="post-meta list-date">Nov, 2017</p>
                    </li>
                  </ul>
               </li>
               <li class="post-preview ">
                 <img class="company-logo img-thumbnail" src="img/clients/kisti.png">
                  <ul>
                    <li class="post-preview ">
                      <a id="pdf2" data-toggle="modal" data-target="#myModal">
                        <h4 class="post-title list-title">A Network Neutral alternative to Free Basics</h4>
                        <p class="post-subtitle list-description ">Ramneek, Patrick Hosein and Sungin Jung</p>
                        <p class="post-subtitle list-description">6th International Conference on Internet Science, Perpignan, France</p>
                      </a>
                      <p class="post-meta list-date">Dec, 2019</p>
                    </li>
                    <li>
                      <a id="pdf5" href="/pdf/NN_APNOMS2017.pdf">
                         <hr>
                         <h4 class="post-title list-title">Emerging Network Technologies and Network Neutrality Conformance</h4>
                         <p class="post-subtitle list-description "><b>Ramneek Sekhon</b>, Patrick Hosein, Woojin Seok and Jaiseung Kwak</p>
                         <p class="post-subtitle list-description">19th Asia-Pacific Network Operations and Management Symposium, Seoul, South Korea</p>
                      </a>
                      <p class="post-meta list-date">Sept, 2017</p>
                    </li>
                    <li class="post-preview ">
                       <a id="pdf6" href="/pdf/96%201174.pdf">
                          <hr>
                          <h4 class="post-title list-title">Quality of Service Framework for Supporting Next Generation Mobile Services</h4>
                          <p class="post-subtitle list-description "><b>Ramneek</b> , P. Hosein, W. Choi and W. Seok</p>
                          <p class="post-subtitle list-description">Journal of Advanced Research in Dynamical and Control Systems</p>
                       </a>
                       <p class="post-meta list-date">July, 2017, vol 08-Special Issue, 2017</p>
                    </li>
                    <li class="post-preview ">
                       <a id="pdf9" href="/pdf/hpcs.pdf">
                          <hr>
                          <h4 class="post-title list-title">Quality of Service Support for High Performance Computing on Mobile Devices</h4>
                          <p class="post-subtitle list-description "><b>Ramneek</b>, P. Hosein, W. Choi and W. Seok</p>
                          <p class="post-subtitle list-description">International Conference on High Performance Computing and Simulation, Innsbruck, Austria</p>
                       </a>
                       <p class="post-meta list-date">July, 2016</p>
                    </li>
                    <li class="post-preview ">
                       <a id="pdf10" href="/pdf/jcn2016.pdf">
                          <hr>
                          <h4 class="post-title list-title">Congestion Detection for QoS-enabled Wireless Networks and its Potential Applications</h4>
                          <p class="post-subtitle list-description "><b>Ramneek</b>, P.Hosein, W.Choi, W. Seok</p>
                          <p class="post-subtitle list-description">Journal of Communications and Networks</p>
                       </a>
                       <p class="post-meta list-date">June, 2016, vol18</p>
                    </li>
                    <li class="post-preview ">
                       <a id="pdf11" href="/pdf/icact2016.pdf">
                          <hr>
                          <h4 class="post-title list-title">A Study of QoS Support, Performance and Pricing of Mobile Data Plans in the USA and Korea</h4>
                          <p class="post-subtitle list-description "><b>Ramneek</b>, P. Hosein, W. Choi and W. Seok</p>
                          <p class="post-subtitle list-description">IEEE International Conference on Advanced Communication Technology, Phoenix Park, South Korea</p>
                       </a>
                       <p class="post-meta list-date">Jan, 2016</p>
                    </li>
                  </ul>
               </li>

               <li class="post-preview ">
                 <img class="company-logo img-thumbnail" src="img/clients/huawei_logo.png">
                  <ul class="list">
                    <li class="post-preview">
                      <a id="pdf7" href="/pdf/cyclic.pdf">
                         <hr>
                         <h4 class="post-title list-title">Cyclic Beam Switching for Smart Grid Networks</h4>
                         <p class="post-subtitle list-description ">P. Hosein, L. Girod-Williams and <b>C. van Rensburg</b></p>
                         <p class="post-subtitle list-description">8th IFIP International Conference on New Technologies, Mobility and Security (NTMS), Larnaca, Cyprus</p>
                      </a>
                      <p class="post-meta list-date">Nov, 2016</p>
                    </li>
                  </ul>
               </li>
               <li class="post-preview ">
                 <img class="company-logo img-thumbnail" src="img/clients/T&amp;tec.png">
                  <ul class="list">
                    <li class="post-preview">
                      <a id="pdf8" href="/pdf/fault-detection-app.pdf">
                         <hr>
                         <h4 class="post-title list-title">Web Application for Power Grid Fault Management</h4>
                         <p class="post-subtitle list-description ">S. Hosein , P. Hosein ,<b> W. Kattick, V. Rattan</b></p>
                         <p class="post-subtitle list-description">IEEE 6th International Conference on Intelligent and Advanced Systems (ICIAS 2016), Kuala Lumpur, Malaysia</p>
                      </a>
                      <p class="post-meta list-date">Aug, 2016</p>
                    </li>
                  </ul>
               </li>
            </ul>
         </div>
      </div>
      <!-- END OF MAIN CONTENT -->


      <hr>
      <!-- Footer -->
      <footer>
         <div class="container">
            <div class="row">
               <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <ul class="list-inline text-center">
                     <!--<li>-->
                     <!--<a href="#">-->
                     <!--<span class="fa-stack fa-lg">-->
                     <!--<i class="fa fa-circle fa-stack-2x"></i>-->
                     <!--<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>-->
                     <!--</span>-->
                     <!--</a>-->
                     <!--</li>-->
                     <li>
                        <a href="https://www.facebook.com/info.lab.tt/?fref=ts">
                        <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                        </span>
                        </a>
                     </li>
                     <li>
                        <a href="https://github.com/TT-LAB">
                        <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                        </span>
                        </a>
                     </li>
                  </ul>
                  <p class="copyright text-muted">Copyright © ttlab 2016</p>
               </div>
            </div>
         </div>
      </footer>

      <!-- jQuery -->
      <script src="js/jquery.js"></script>
      <!-- Bootstrap Core JavaScript -->
      <script src="js/bootstrap.min.js"></script>
      <!-- Custom Theme JavaScript -->
      <script src="js/clean-blog.min.js"></script>
      <script src="js/list.js"></script>
      <script src="js/lodash.js"></script>
      <!-- <script src="js/clients.js"></script> -->

      <div id="myModal" class="modal fade" role="dialog">
         <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">×</button>
                  <h4 class="modal-title"></h4>
               </div>
               <div class="modal-body">
                  This paper will be uploaded after it has been presented at its respective conference.
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
               </div>
            </div>
         </div>
      </div>

   </body>
</html>
