<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ISP PERFORMANCE</title>
    <script src="js/jquery.min.js"></script>
    <!--<script src="js/Chart.js"></script>-->
    <script src="js/ChartOriginal.js"></script>
    <!--<script src="js/chartNew.js"></script>-->
    <script src="js/chart.HorizontalBar.js"></script>
    <script src="js/lodash.js"></script>
</head>
<body>

    <canvas id="myChart" width="800" height="500" style="margin-left: 10px;">

    </canvas>

    <script src="js/plotPerformance.js"></script>
</body>
</html>