<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ISP PERFORMANCE</title>
    <script src="js/jquery.min.js"></script>
    <!--<script src="js/Chart.js"></script>-->
    <script src="js/ChartOriginal.js"></script>
    <!--<script src="js/chartNew.js"></script>-->
    <script src="js/chart.HorizontalBar.js"></script>
    <script src="js/lodash.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body class="container">




    <div class="row">
        <div class="col-lg-offset-1 col-md-offset-1 col-sm-12 col-xs-12">
            <h3 class="text-center">Broadband ISP Comparison</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-offset-1 col-md-offset-1 col-sm-12 col-xs-12">
            <h4 class="text-center">(Metric: actual rate achieved with target server in Miami at 8pm weekdays / monthly cost)</h4>
        </div>
    </div>


<div class="row">
        <div class="col-lg-offset-1 col-md-offset-1 col-sm-12 col-xs-12">
            <canvas id="myChart" width="700" height="300" style="margin-left: 10px;">

            </canvas>
        </div>
    </div>


    <script src="js/plotPerformance.js"></script>
</body>
</html>