.transparent{
  background-color:transparent;
}

.list li{
	list-style-type: none;
}

.knockout-around {
  position: relative;
}
.knockout-around:before, .knockout-around:after {
  content: "";
  position: absolute;
}
.knockout-around:before {
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  background-image: -webkit-gradient(radial, right bottom, 10, 90% 0%, 150, from(#000), to(transparent));
  background-image: -webkit-radial-gradient(right bottom, 150px 230px, #000, transparent);
  background-image: -moz-radial-gradient(right bottom, farthest-corner, #000 0%, transparent 72%);
  z-index: -2;
}
.knockout-around:after {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #ffffff;
  z-index: -1;
}
.nav-logo{
  width:120px;
  height:auto;
  margin-top: 10px;
}

.inline{
  float:left;
  padding-left: 20px;
}

.bold{
  font-weight: bold;
}
.invis{
  display: none;
}

.company-logo{
	height: 70px;
	width: auto;
}
