.transparent{
	background-color:transparent;
}
.box {
    
    height: 100%;
    width: 100%;
    width:200px;
    height:300px;
    -webkit-background-size: contain !important;
  	-moz-background-size: contain !important;
}
.nav-logo{
	width:80px;
	height:auto;
	margin-top: 10px;
}