.transparent{
	background-color:transparent;
}
.list li{
	list-style-type: none;
	margin-top: 3%;
}

.circular {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-background-size: cover !important;
  	-moz-background-size: cover !important;
	background-size: 100%;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	}
/*background: url(http://link-to-your/image.jpg) no-repeat;*/

.education{
    color: #B5B4B4;
    font-size: 16px
}
.links{
	color:#5eb6ef;
	font-size: 18px
}

.nav-logo{
	width:120px;
	height:auto;
	margin-top: 10px;
}